<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update person</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/people/{id}(id=${person.getId()})}" th:object="${person}">
    <div>
        <label for="fullName">ФИО</label>
        <input type="text" th:field="*{fullName}" id="fullName">
        <p style="color:red" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}">error</p>
        <br>

        <label for="yearOfBirth">Год рождения</label>
        <input type="text" th:field="*{yearOfBirth}" id="yearOfBirth">
        <p style="color:red" th:if="${#fields.hasErrors('yearOfBirth')}" th:errors="*{yearOfBirth}">error</p>
        <br>

        <input type="submit" value="Принять">
    </div>
</form>
<br>
<hr>
<form th:method="GET" th:action="@{/people}">
    <input type="submit" value="Все пользователи">
</form>
</body>
</html>