<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<table>
    <tbody>
    <tr>
        <td th:width="100"> ID:</td>
        <td><span th:text="${person.getId()}"> </span></td>
    </tr>
    <tr>
        <td>ФИО</td>
        <td><span th:text="${person.getFullName()}"> </span></td>
    </tr>
    <tr>
        <td>Год рождения</td>
        <td><span th:text="${person.getYearOfBirth()}"></span><br></td>
    </tr>
    </tbody>
</table>
<br>


<table>
    <tbody>
    <tr th:if="${books.isEmpty()}">
        <td colspan="2">Человек пока не взял ни одной книги</td>
    </tr>
    <tr th:if="${!books.isEmpty()}">
        <td>Книги на руках:</td>
    </tr>
    <tr th:each="book : ${books}">
        <td><a th:text="${book.getTitle()}" th:href="@{/books/{id}(id=${book.getId()})}">Title</a></td>
    </tr>
    </tbody>
</table>


<form th:method="GET" th:action="@{/people/{id}/edit(id=${person.getId()})}">
    <input type="submit" value="Редактировать">
</form>
<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Удалить">
</form>
<br>
<hr>


<form th:method="GET" th:action="@{/people}">
    <input type="submit" value="Все пользователи">
</form>
</body>
</html>