<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<table>
    <tbody>
    <tr>
        <td th:width="100"> ID: </td>
        <td><span th:text="${person.getId()}"> </span></td>
    </tr>
    <tr>
        <td> Full name: </td>
        <td><span th:text="${person.getFullName()}"> </span></td>
    </tr>
    <tr>
        <td> Year of birth: </td>
        <td><span th:text="${person.getYearOfBirth()}"></span><br></td>
    </tr>
    </tbody>
</table>
<br>
<table>
    <thead>
    <tr>
        <th>Книги у клиента:</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${books.isEmpty()}">
        <td colspan="2"> Человек пока не взял ни одной книги </td>
    </tr>
    <tr th:each="book : ${books}">
        <td><a th:text="${book.getTitle()}" th:href="@{/books/{id}(id=${book.getId()})}"> Title </a></td>
    </tr>
    </tbody>
</table>

<form th:method="GET" th:action="@{/people/{id}/edit(id=${person.getId()})}">
    <input type="submit" value="Edit">
</form>
<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Delete">
</form>
<br>
<hr>
<form th:method="GET" th:action="@{/people}">
    <input type="submit" value="Back">
</form>
</body>
</html>