<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Название книги</th>
        <th>Автор</th>
        <th>Год</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${books.isEmpty()}">
        <td colspan="2">Книг в библиотеке нет</td>
    </tr>
    <tr th:each="book : ${books}">
        <td><a th:text="${book.getTitle()}" th:href="@{/books/{id}(id=${book.getId()})}">Title</a></td>
        <td><a th:text="${book.getAuthor()}">Author</a></td>
        <td><a th:text="${book.getYearOfPublish()}">Year</a></td>
    </tr>
    </tbody>
</table>
<br>
<hr>
<form th:method="GET" th:action="@{/books/add}">
    <input type="submit" value="Новая книга">
</form>
</body>
</html>